.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    transition-duration: .5s;
    border-radius: 6px;
    min-height: 90px;
}

.navbar-brand {
    max-width: 78%;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-toggler {
    max-width: 20%;
}

.nav-item {
    font-family: 'encode sans reg';
    font-size: 19px
}

.nav-link:hover {
    border-bottom-color: #5eecff;
    transition: border-bottom-color linear .5s
}


/* Index page  */

html,
body {
    background: white;
    transition: ease 2s background;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    /* scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-snap-points-y: repeat(100vh); */
}

p {
    font-family: 'encode sans reg';
}

#main-wrapper {
    position: relative;
}

.page {
    /* scroll-snap-align: start; */
    width: 100vw;
    min-height: 100vh;
}

#page1 {
    display: table;
    position: relative;
    padding-top: 104px;
    background-image: url("../images/bg6.jpg");
    background-size: cover;
    background-position: 60%;
    background-repeat: no-repeat;
    transition: filter 0.5s ease-in-out;
}

#page2 {
    position: relative;
    padding-top: 120px;
    background-image: url("../images/bg5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

#page3 {
    position: relative;
    padding-top: 140px;
    background-image: url("../images/bg10.png");
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1f0101;
}

#contact {
    max-width: 700px;
    color: white;
}

#contact h1 {
    /* color: rgb(255, 203, 62); */
    font-family: "poppins light";
}

#content {
    position: absolute;
    border-radius: 5px;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.9);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#content h1 {
    font-family: "poppins medium";
}

#content p {
    text-align: justify;
}

.brand1 {
    color: #DB4141;
    font-family: "poppins medium";
}

.brand2 {
    color: #A82626;
    font-family: "poppins medium";
}

.brand3 {
    color: black;
    font-family: "poppins light";
}

#film {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

#left-section {
    color: white;
    align-items: center;
    text-align: left;
}

#main-header {
    font-size: 7.5vw;
    line-height: 1.1em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-family: "poppins bold";
}

#left-section p {
    font-size: 2rem;
    line-height: 1.1em;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    font-family: "poppins medium";
}

#sign-in {
    position: absolute;
    right: 0;
    top: calc(50vh + 52px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    z-index: 1;
    font-family: 'encode sans reg';
}

#sign-in h1 {
    text-transform: uppercase;
    font-family: "poppins medium";
}

/* FOOTER */

#footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #130303;
    z-index: 100;
    text-align: center;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
}

#footer ul.social li:hover a i {
    color: #ffd5d5;
}

/* LOGIN OVERLAY */

#loginOverlay {
    height: 100%;
    margin: 0;
}

#loginOverlay .modal-dialog {
    position: relative;
    height: 90%;
}

#loginOverlay .modal-content {
    max-width: 400px;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.95);
}

#x {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.8);
    font-size: 35px;
    top: -10px;
    right: -2px;
    z-index: 1000;
}

/* UTILITY */

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vertical-center {
    position: absolute;
    top: 47%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.scrolldown::before {
    animation: bounce 1.25s cubic-bezier(.56, .08, .48, .9) infinite;
    /* animation: bounce 1.75s ease-in-out infinite; */
    /* bottom: 1.3rem; */
    top: 90vh;
    color: #fff;
    content: '╲╱';
    font-size: 1.4rem;
    height: 3rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
    z-index: 100;
}

@keyframes bounce {
    50% {
        transform: translateY(-25%);
    }
}

/*--FONTS--*/

@font-face {
    font-family: "encode sans reg";
    src: url("../fonts/Encode_Sans/EncodeSans-Regular.ttf");
}

@font-face {
    font-family: "encode sans light";
    src: url("../fonts/Encode_Sans/EncodeSans-Light.ttf");
}

@font-face {
    font-family: "poppins reg";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins light";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "poppins bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "poppins medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@media only screen and (max-width: 991px) {
    #main-header {
        font-size: 10vw;
    }

    #left-section {
        text-align: center;
    }

    #sign-in {
        visibility: hidden;
    }

    #left-section p {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 576px) {
    #page2 {
        padding: 0;
    }

    #content {
        border-radius: 0px;
        /* height: 100%; */
        /* margin: 0; */
    }

    #content h1 {
        font-size: 1.75em;
    }

    #footer {
        position: relative;
        bottom: 0;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 414px) {
    #page2 {
        padding: 0;
    }

    #content {
        border-radius: 0px;
    }

    #content h1 {
        font-size: 1.35em;
    }
}
